body {
  margin: 0px;
  padding: 0px;
}

#start {
  background-image: url(/img/rawpixel-574837-unsplash.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  font-size: 3rem;
  min-height: 75vh;
  padding-top: 15vh;
  padding-bottom: 5vh;
}
